[submodule "testcases"]
	path = testcases
	url = https://github.com/Starry-OS/testcases.git
[submodule "crates/taskctx"]
	path = crates/taskctx
	url = https://github.com/AsyncModules/taskctx.git
	branch = dev
[submodule "crates/axhal"]
	path = crates/axhal
	url = https://github.com/AsyncModules/axhal.git
	branch = dev
[submodule "crates/axruntime"]
	path = crates/axruntime
	url = https://github.com/AsyncModules/axruntime.git
	branch = dev
[submodule "crates/axtask"]
	path = crates/axtask
	url = https://github.com/AsyncModules/axtask.git
	branch = dev
[submodule "crates/axtrap"]
	path = crates/axtrap
	url = https://github.com/AsyncModules/axtrap.git
	branch = dev
