[submodule "testcases"]
	path = testcases
	url = https://github.com/Starry-OS/testcases.git
[submodule "crates/taskctx"]
	path = crates/taskctx
	url = https://github.com/AsyncModules/taskctx.git
	branch = dev
